@import url("estil.css");


#btnLogout {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

#divBtnLogout {
	float: right;
}

#calendari {
	display: none;	/*Manté el calendari sense desplegar quan es carrega la pàgina*/
}
form {
	border: 1px solid black;
	padding: 1%;
	background-color: #a8c6fa;
	/*top-right-bottom-left*/
	margin: 6% 35% 6% 35%;
}

#divButtons {
	margin: 5%;
}

.camp {
	display: inline-block;
	padding-top: 1%;
	margin-bottom: 5%;
}
input {
	margin-left: 1%;
}
iframe {
	
	max-width: 100%;
   height: auto;
   width: auto;
   overflow: hidden;
}
