/*ESTIL GENERAL DE LA PÀGINA WEB*/
body {
	font-family: sans;
	background: #D4E3FC;
}
/*ESTIL DE LES CAPÇALERES DE TOTES LES PÀGINES DEL PROJECTE*/
header {
	text-align: center;
	background-color: #006ce5;
	font-size: 48px;
	font-variant: small-caps;
	padding: 1%;
	border: 1px solid black;	
}

#cos {
	margin-left: 1%;
	margin-right: 1%;
}
/*ESTIL DELS PEUS DE PÀGINA DE TOTES LES PÀGINES DEL PROJECTE*/
footer {
	margin-top: 5%;
	background-color: #006ce5;
	font-size: 14;
	font-weight: bold;
	padding: 1%;
	border: 1px solid black;
}