body {
	/*font-family: sans;*/
}

.td {
	display: table-cell; //
	border: 1px solid black;
	padding: 1px;
	border: 0;
	text-align: center;
}

.tr {
	display: table-row; //
	border: 1px solid black;
	border: 0;
	text-align: center;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.table {
	display: none;
	width: 50%;
	height: 50%;
	display: table; //
	border: 1px solid black;
	border: 0;
	text-align: center;
}

#demo {
	text-align: center;
}
#calendari {
	display: block;
}
#barraSuperiorCalendari {
	text-align: center;
}
#headerCalendari {
	display: inline;
}
#divTitolCalendari {
		display: inline;
}
#divCalendari {
	margin-left: 11%;
}
#desplaçamentEsquerra {
	display: inline;
}
#desplaçamentDreta {
	display: inline;
}