@import url("estil.css");
img {
	margin-right: 2%;
}
table {
	border: 2px solid #000;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

td {
	border: 1px solid black;
	vertical-align: middle;
	padding: 4px;
}

th {
	border: 1px solid #000;
	vertical-align: middle;
	padding: 4px;
	background-color: #3D8AF7;
}

tr:nth-child(even) {
	background-color: #D4E3FC;
}

tr:nth-child(odd) {
	background-color: #A8C6FA;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.5em;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	border: 1px solid black;
	margin-bottom: 1%;
}

#btnLogout {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

#barraSuperior {
	display: inline;
}
#formAfegirContacte {
	display: inline;
}
#divBtnLogout {
	display: inline;
	float: right;
}

#btnAfegirContacte {
	background-color: #3D6BB9;
}
#barraCerca {
	text-align: center;
		margin-left: auto;
	margin-right: auto;
}
#divTable {
	
}