@import url("estil.css");

img {
	margin-right: 2%;	
}

#headerLogin {
	font-weight: bold;
}

#divFormulari {
	display: inline-block;
	border: 1px solid black;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	background-color: #a8c6fa;
	margin-top: 1%;
	
	-webkit-box-shadow: -6px 9px 0px 0px rgba(4,43,77,0.77);
	-moz-box-shadow: -6px 9px 0px 0px rgba(4,43,77,0.77);
	box-shadow: -6px 9px 0px 0px rgba(4,43,77,0.77);
	margin-left: 5%;
}
#divInfo {
	display: inline;
	float: left;
	width: 50%;
}

